<div class="min-h-screen bg-dark-green text-white flex flex-col justify-center items-center">
    <div class="max-w-3xl text-center space-y-8">
        <h1 class="text-6xl font-semibold leading-tight mb-6">Leading the Way to a Greener Future</h1>
        <p class="text-xl text-gray-300 leading-relaxed">
            Ecology is the scientific study of the relationships between organisms and their environment, including their physical, chemical interactions.
        </p>
        <div class="flex justify-center space-x-6">
            <button routerLink="/register" class="bg-green-600 hover:bg-green-700 text-white font-semibold py-4 px-8 rounded-lg shadow-lg transition duration-300 ease-in-out transform hover:scale-105">
                Join Us Now
            </button>
            <button routerLink="/login" class="bg-transparent border-2 border-green-600 text-green-600 hover:bg-green-600 hover:text-white font-semibold py-4 px-8 rounded-lg shadow-lg transition duration-300 ease-in-out transform hover:scale-105">
                Get Started
            </button>
        </div>
    </div>
</div>

